:root {
  --govuk-text-colour: #0b0c0c;
  --govuk-secondary-text-colour: #626a6e;
  --govuk-link-colour: #1d70b8;
  --govuk-link-hover-colour: #003078;
  --govuk-link-visited-colour: #4c2c92;
  --govuk-link-active-colour: #0b0c0c;
  --govuk-border-colour: #b1b4b6;
  --govuk-input-border-colour: #0b0c0c;
  --govuk-focus-colour: #ffdd00;
  --govuk-focus-text-colour: #0b0c0c;
  --govuk-error-colour: #d4351c;
  --govuk-brand-colour: #1d70b8;
  --govuk-colour-red: #d4351c;
  --govuk-colour-yellow: #ffdd00;
  --govuk-colour-green: #00703c;
  --govuk-colour-blue: #1d70b8;
  --govuk-colour-dark-blue: #003078;
  --govuk-colour-light-blue: #5694ca;
  --govuk-colour-purple: #4c2c92;
  --govuk-colour-black: #0b0c0c;
  --govuk-colour-dark-grey: #626a6e;
  --govuk-colour-mid-grey: #b1b4b6;
  --govuk-colour-light-grey: #f3f2f1;
  --govuk-colour-white: #ffffff;
  --govuk-colour-light-purple: #6f72af;
  --govuk-colour-bright-purple: #912b88;
  --govuk-colour-pink: #d53880;
  --govuk-colour-light-pink: #f499be;
  --govuk-colour-orange: #f47738;
  --govuk-colour-brown: #b58840;
  --govuk-colour-light-green: #85994b;
  --govuk-colour-turquoise: #28a197;
}

.bottom-border {
  border-bottom: 1px solid #b1b4b6;
}

.box-row {
  display: flex;
}

.metric-box {
    background-color: var(--govuk-colour-light-grey);
    padding-top: 15px;
    height: 180px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    flex: auto;
}


.metric-box > p {
  bottom: 0;
  position: absolute;
}

.govuk-grid-column-one-third.metric-box {
  width: calc(33% - 20px);
}

.govuk-forward-link {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    font-family: GDS Transport, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 14px;
}
@media (min-width: 40.0625em) {
    .govuk-forward-link {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }
}
@media print {
    .govuk-forward-link {
        font-size: 14pt;
        line-height: 1.2;
        font-family: sans-serif;
    }
}
.govuk-forward-link:focus {
    outline: 3px solid rgba(0, 0, 0, 0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
}
.govuk-forward-link:active,
.govuk-forward-link:focus,
.govuk-forward-link:hover,
.govuk-forward-link:link,
.govuk-forward-link:visited {
    color: #0b0c0c;
}
@media print {
    .govuk-forward-link:active,
    .govuk-forward-link:focus,
    .govuk-forward-link:hover,
    .govuk-forward-link:link,
    .govuk-forward-link:visited {
        color: #000;
    }
}

.govuk-forward-link[href] {
    border-bottom: 1px solid #0b0c0c;
    text-decoration: none;
}
.govuk-forward-link[href]:focus {
    border-bottom-color: rgba(0, 0, 0, 0);
}
.govuk-forward-link::before {
    display: block;
    width: 0;
    height: 0;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 5px 6px 5px 0;
    border-left-color: inherit;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

div.rt-thead {
  min-height: 35px;
}

div.rt-thead.-filters {
  min-height: 35px;
  top: 35px;
  position: sticky;
  background-color: #fff;
  z-index: 1000;
}

div.rt-tbody {
  overflow-y: scroll !important;
  border-bottom : 1px solid #b1b4b6 !important;
  min-width: 100% !important;
}

.sticky-col {
  position: sticky !important;
  z-index: 1000;
  background-color: #fff;
}


.datatables .govuk-label {
  display: inline-flex !important;
  line-height: 2.5rem !important;
}

.datatables label .govuk-select {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.govuk-tag--inactive {
    background-color: #626a6e;
}
.govuk-tag--grey {
    color: #454a4d;
    background: #eff0f1;
}
.govuk-tag--purple {
    color: #3d2375;
    background: #dbd5e9;
}
.govuk-tag--turquoise {
    color: #10403c;
    background: #bfe3e0;
}
.govuk-tag--blue {
    color: #144e81;
    background: #d2e2f1;
}
.govuk-tag--yellow {
    color: #594d00;
    background: #fff7bf;
}
.govuk-tag--orange {
    color: #6e3619;
    background: #fcd6c3;
}
.govuk-tag--red {
    color: #942514;
    background: #f6d7d2;
}
.govuk-tag--pink {
    color: #80224d;
    background: #f7d7e6;
}
.govuk-tag--green {
    color: #005a30;
    background: #cce2d8;
}