:root {
  --govuk-text-colour: #0b0c0c;
  --govuk-secondary-text-colour: #626a6e;
  --govuk-link-colour: #1d70b8;
  --govuk-link-hover-colour: #003078;
  --govuk-link-visited-colour: #4c2c92;
  --govuk-link-active-colour: #0b0c0c;
  --govuk-border-colour: #b1b4b6;
  --govuk-input-border-colour: #0b0c0c;
  --govuk-focus-colour: #ffdd00;
  --govuk-focus-text-colour: #0b0c0c;
  --govuk-error-colour: #d4351c;
  --govuk-brand-colour: #1d70b8;
  --govuk-colour-red: #d4351c;
  --govuk-colour-yellow: #ffdd00;
  --govuk-colour-green: #00703c;
  --govuk-colour-blue: #1d70b8;
  --govuk-colour-dark-blue: #003078;
  --govuk-colour-light-blue: #5694ca;
  --govuk-colour-purple: #4c2c92;
  --govuk-colour-black: #0b0c0c;
  --govuk-colour-dark-grey: #626a6e;
  --govuk-colour-mid-grey: #b1b4b6;
  --govuk-colour-light-grey: #f3f2f1;
  --govuk-colour-white: #ffffff;
  --govuk-colour-light-purple: #6f72af;
  --govuk-colour-bright-purple: #912b88;
  --govuk-colour-pink: #d53880;
  --govuk-colour-light-pink: #f499be;
  --govuk-colour-orange: #f47738;
  --govuk-colour-brown: #b58840;
  --govuk-colour-light-green: #85994b;
  --govuk-colour-turquoise: #28a197;
}

.bottom-border {
  border-bottom: 1px solid #b1b4b6;
}

.box-row {
  display: flex;
}

.metric-box {
    background-color: var(--govuk-colour-light-grey);
    padding-top: 15px;
    height: 180px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    flex: auto;
}


.metric-box > p {
  bottom: 0;
  position: absolute;
}

.govuk-grid-column-one-third.metric-box {
  width: calc(33% - 20px);
}

.govuk-forward-link {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    font-family: GDS Transport, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 14px;
}
@media (min-width: 40.0625em) {
    .govuk-forward-link {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }
}
@media print {
    .govuk-forward-link {
        font-size: 14pt;
        line-height: 1.2;
        font-family: sans-serif;
    }
}
.govuk-forward-link:focus {
    outline: 3px solid rgba(0, 0, 0, 0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
}
.govuk-forward-link:active,
.govuk-forward-link:focus,
.govuk-forward-link:hover,
.govuk-forward-link:link,
.govuk-forward-link:visited {
    color: #0b0c0c;
}
@media print {
    .govuk-forward-link:active,
    .govuk-forward-link:focus,
    .govuk-forward-link:hover,
    .govuk-forward-link:link,
    .govuk-forward-link:visited {
        color: #000;
    }
}

.govuk-forward-link[href] {
    border-bottom: 1px solid #0b0c0c;
    text-decoration: none;
}
.govuk-forward-link[href]:focus {
    border-bottom-color: rgba(0, 0, 0, 0);
}
.govuk-forward-link::before {
    display: block;
    width: 0;
    height: 0;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 5px 6px 5px 0;
    border-left-color: inherit;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}